<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Show page</title>
    <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@500;600&display=swap" rel="stylesheet">
    <link href = "/users.css" rel="stylesheet">
    <%- include('../partials/nav') %>
</head>
<body>
    <div class ="index-front">
    <h1><%= user.name %> </h1>
    <h2> Favorite Artist: <%= user.artist %></h2>
    <h2>Playlists</h2>
    <ul>
<% for(i=0; i < user.playlists.length; i++) {%>
<li class ="playlist-list">
<a class = "playlist-list" href= '/playlists/<%=user.playlists[i]._id %>'> <%=user.playlists[i].name %> </a>

</li>

<% } %>

    </ul>
  
    <div class= "playlist-edit">
    <a href = "/playlists/new">
    <button class="playlist-edit-button">Add Playlist</button>
    </a>

    
    <a href ="/users/<%= user._id %>/edit">
    <button class="playlist-edit-button">Edit User</button>
    </a>
    
</div>
    <form action="/users/<%= user._id %>?_method=DELETE" method = "post">
    <input class = "delete-playlist" type= "submit" value= "Delete User">
    </form>
</div>

</body>
</html>