<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Show page</title>
</head>
<body>
    <nav> <a href="/users"> All Users</a></nav>
    <h1><%= user.name %> </h1>
    <h2> Favorite Artist: <%= user.artist %></h2>
    <h3>Playlists</h3>
    <ul>
<% for(i=0; i < user.playlists.length; i++) {%>
<li class ="playlist-list">
<a href= '/playlists/<%=user.playlists[i]._id %>'> <%=user.playlists[i].name %> </a>

</li>

<% } %>

    </ul>
  
    
    <a href ="/users/<%= user._id %>/edit">
    <button>Edit User</button>
    </a>

    <form action="/users/<%= user._id %>?_method=DELETE" method = "post">
    <input type= "submit" value= "Delete User">
    </form>
</body>
</html>